.mt-100 {
  margin-top: 120px;
}
// Header

.navbar-brand {
  img {
    width: 175px;
  }
}

.card {
  border: none;
  min-height: 500px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}